<div class="container-fluid">
  <div class="row heading">
    <div class="col-sm-12 heading-content">
    ATTENDANCE MONITORING APP
    </div>
  </div>
  <div class="row content">
    <div class="col-sm-2 sidenav">
        <mat-nav-list>
          <mat-list-item [ngClass]="{'selected-div': selectedItem === 'Register'}" (click)="showContent('Register')">
            <mat-icon [ngClass]="{'selected-icon': selectedItem === 'Register'}" class="all" mat-list-icon>person</mat-icon>
            <h4 mat-line [ngClass]="{'selected-heading': selectedItem === 'Register'}" class="all"  *ngIf="isExpanded">Register User</h4>
          </mat-list-item>
          <mat-list-item [ngClass]="{'selected-div': selectedItem === 'Allstudents'}" (click)="showContent('Allstudents')">
            <mat-icon [ngClass]="{'selected-icon': selectedItem === 'Allstudents'}" class="all" mat-list-icon>assignment</mat-icon>
            <h4 class="all" [ngClass]="{'selected-heading': selectedItem === 'Allstudents'}" mat-line *ngIf="isExpanded">Registered Users</h4>
          </mat-list-item>
          <mat-list-item [ngClass]="{'selected-div': selectedItem === 'Attendance'}" (click)="showContent('Attendance')">
            <mat-icon [ngClass]="{'selected-icon': selectedItem === 'Attendance'}" class="all" mat-list-icon>domain</mat-icon>
            <h4 class="all" [ngClass]="{'selected-heading': selectedItem === 'Attendance'}" mat-line *ngIf="isExpanded">Attendance</h4>
          </mat-list-item>
        </mat-nav-list>
    </div>
    <div class="col-sm-10">
      <div class="sidenav-content">
        <app-register *ngIf="selectedItem === 'Register'"></app-register>
        <app-all-users *ngIf="selectedItem === 'Allstudents'"></app-all-users>
        <app-attendance *ngIf="selectedItem === 'Attendance'"></app-attendance>
      </div>
    </div>


  </div>
</div>